.AddonLoadingRoot {
	width: 100%;
	height: 100%;
	background-color: green;
	overflow: clip;
}

#TitlePanel {
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#AddonTitle {
	vertical-align: center;
	
	font-size: 72px;
	color: #22FF22;
	text-shadow: 2px 2px 3px #000000;
}

.SeqImg {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#CustomBg {
	width: 100%;
	height: 100%;
	
	overflow: clip;
}
